/*
Laboratory of Informatics in Education (LInE)
Free Education, Private Data
http://www.usp.br/line
*/

/*
#018343
#03396c = azul escuro 1
#001a66 = azul escuro 2 (manual)
#488EAD = verde azulado simpatico
#43899c = verde azulado simpatico um pouco + escuro
*/
:root {
    --header-color: #03396c;
    --title-color: #303972;
    --description-color: #03396C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    font: normal 16px sans-serif;
    background: #e1e1e1;
}

/* - NAV ------------------- */

nav  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    color: #fff;
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
}

.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.nav-link {
    opacity: 0.8;
}

.nav-link:hover{
    opacity: 1;
}

.nav-languages {
    position: fixed;
    right: 20px;
}

/* - ASIDE ----------------- */

aside {
    position: fixed;
    height: 100%;
    background-color: var(--header-color);
    padding: 20px 0 20px 20px;
    overflow-x: auto;
}

aside .manual-button {
    text-align: center;
    margin: 25px 0;
    margin-left: -10px;
}

aside .manual-button a{
    font-size: 2em;
}

aside ul {
    list-style: none;
}

aside li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: left;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

aside li:hover {
    background-color: #fff;
}

aside a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

aside li:hover a{
    color: #3a57e8;
}

aside .main-anchor {
    margin: 20px 20px 0 0;
    padding-right: 40px;
    padding-left: 10px;
}

aside .main-anchor .anchor-border{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

aside li:hover .main-anchor .anchor-border{
    border: 1px solid #3a57e8;
    border-radius: 10px;
    background-color: #3a57e81f;
}

aside .setinha {
    height: 10px;
    width: 10px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    margin-right: 10px;
    transform: rotate(-45deg);
}

aside li:hover .setinha{
    border-bottom-color: #3a57e8cf;
    border-left-color: #3a57e8cf;
}

aside .dropDownContent {
    display: none;
    font-size: 1em;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    flex-direction: column;
}

aside li:hover .dropDownContent{
    display: flex;
}

aside li .dropDownContent a{
    padding: 7px;
    font-weight: 500;
    color: #444;
    margin: 7px 0;
}

aside li:hover .dropDownContent a:hover{
    background-color: #3a57e81f;
    color: #3a57e8;
    border-radius: 5px;
}

aside li.dropDownContentOpen {
    background-color: #fff;
}

aside li.dropDownContentOpen .dropDownContent{
    display: flex;
}

aside li.dropDownContentOpen .setinha{
    border-bottom-color: #3a57e8cf;
    border-left-color: #3a57e8cf;
}

aside li.dropDownContentOpen a{
    color: #3a57e8;
}

aside li.dropDownContentOpen .main-anchor .anchor-border{
    border: 1px solid #3a57e8;
    border-radius: 10px;
    background-color: #3a57e81f;
}

aside li.dropDownContentOpen .dropDownContent a{
    color: #444;
}

/* - MAIN ------------- */

main{
    background-color: #fff;
    padding-top: 54px;
    padding-left: 230px;
    width: 100%;
    height: 100%;
    color: #222;
}

main a{
    color: #222;
    font-weight: 600;
}

main #mainDiv{
    padding: 30px 40px;
}

main section{
    margin-bottom: 20px;
}

main h2{
    margin: 20px 0;
    color: var(--title-color);
}

main h3{
    margin: 10px 0;
    color: var(--title-color);
}

main p {
    margin: 20px 0;
}

main figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

main figcaption {
    font-size: 0.9em;
    color: var(--description-color);
}

main ul {
    margin: 20px 0;
    margin-left: 20px;
}

main li {
    margin: 20px 0;
}

main table {
    border: 1px double black;
}

main table verm{
    color: red;
}
main table verd2{
    color: green;
}
main table cyan{
    color: cyan;
}

main .pages-links{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 15px 40px;
}
 
main .pages-links a {
    color: var(--header-color);
}

/* COLORS  */
.vermelho {
    color: #BA0000;
}

.verde2 {
    color: #007500;
}

.roxo {
    color: #a500a5;
}

.azul2 {
    color: #0000BA;
}